#addToCart,#buyNow{
    background-color:rgb(17, 206, 231);
    border-radius: 15px;
     padding:10px;
     margin-bottom:20px;


}
.subscribe{
    background-color:rgb(197, 8, 8);
    height:35px;
    width:110px;
    color: white;
    font-size: 15px;
    border-radius:3px;
    border:none;
    transition: opacity 0.15s;
    
}
.join{
    border-color:rgb(52, 136, 184);
    color:rgb(43, 129, 209);
    width:70px;
    height:37px;
    font-size:15px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
    margin-left:7px;
    transition: background-color 1s, color 1s;
}


.tweet{
    border:none;
    border-radius:25px;
    padding: 11px 15px;
    background-color:rgb(0, 153, 255);
    font-weight:bold;
    color:white;
    margin-left:8px;
    transition: box-shadow 0.15s;
    opacity:0.5s;
   

}





.subscribe:hover{
    cursor:pointer;
    background-color:brown;
     opacity:0.8;
}


.tweet:hover{
    cursor:pointer;
    
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.join:hover{
    background-color:rgb(15, 83, 185);
    color:white;
  
}

.join:active{
    opacity: 0.7;
}
